<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/validateScripts.js")
    @Scripts.Render("~/Scripts/DialogBox.js")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("HerreUre.dk", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse; navbar-header; navbar-search">
                <ul class="nav navbar-nav">
                    <li style="padding-left:250px">
                        @using (Html.BeginForm("Search", "Search", FormMethod.Post, new { novalidate = "novalidate" })) {
                            <div>
                                @Html.TextBox("searchString")
                                @*<input type='submit' value='Search' />*@
                                
                                <button class="glyphicon glyphicon-search" style="font-size:21px; top: 4.5px;"></button>
                            </div>
                        }
                    </li>
                </ul>
            </div>

            <div class="navbar-header">
                <li style="padding-left:252px"></li>
            </div>

            <div class="navbar-header">
                
                @if(HttpContext.Current.Session["User"] != null) {
                <div>

                    <a href="@Url.Action("Index", "UserProfile")">
                        <span class="glyphicon glyphicon-user" style="font-size:35px; margin-left:15px; color: lightgray"></span>
                    </a>

                    <a href="@Url.Action("ShoppingCart", "ShoppingCart")">
                        <span class="glyphicon glyphicon-shopping-cart" style="font-size:35px; margin-left:15px; color: lightgray"></span>
                    </a>

                    <a href="@Url.Action("Logout", "UserProfile")">
                        <span class="glyphicon glyphicon-log-out" style="font-size:35px; margin-left:15px; color: lightgray"></span>
                    </a>
                </div>
                }

                else {
                    
                <div>

                    <a href="@Url.Action("Index", "Login")">
                        <span class="glyphicon glyphicon-user" style="font-size:35px; margin-left:15px; color: lightgray"></span>
                    </a>

                    <a href="@Url.Action("ShoppingCart", "ShoppingCart")">
                        <span class="glyphicon glyphicon-shopping-cart" style="font-size:35px; margin-left:15px; color: lightgray"></span>
                    </a>

                </div>
                }
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
