
@{
    ViewBag.Title = "Information";
    
}
<html>
<head>
    <meta charset="utf-8" />
</head>
<body style="margin-top:50px">
    <main>
        <fieldset>
            <legend>Leveringsadresse</legend>
            <div>
                @if(Session["User"] == null) {
                <div style="text-align: center;">
                    <p>Har du handlet ved os før? <br /> Find dine oplysninger ved at indtaste din mail</p>
                    <form name="getCustomer" method="post" , action="@Url.Action("GetCustomerInfo", "Buy")">
                        <input type="submit" value="Find" />
                        <input class="textboxWide2 textNormal" type="email" name="prevEmail" />

                    </form>
                </div>
                }
                @if(TempData["Fail"] != null) {
                    <p style="color: red; font-size: 17px; text-align: center; margin-left:50px; width: 600px; height: 20px;">@TempData["Fail"]</p>
                }
                
            </div>

            <div class="formArea formRow">
                <form name="deliveryAddress" method="post" action="@Url.Action("Confirmation", "Buy")">

                    <div> <p style="visibility: @ViewBag.Visibility; color: red; font-size: 17px; width: 600px; height: 20px;">Denne email er tilknyttet en bruger, venligst log ind med denne bruger</p> </div>

                    <div class="formRow textNormal">
                        Fornavn*
                        <input class="textboxWide2 textNormal margin" value="@(TempData["FirstName"])" name="firstName" pattern="[a-zA-ZæøåÆØÅ]{1,20}$" type="text" id="name" required oninvalid="this.setCustomValidity('Indtast et fornavn med 2-20 bogstaver')" oninput="setCustomValidity('')" />
                    </div>
                    <div class="formRow textNormal">
                        Efternavn*
                        <input class="textboxWide2 textNormal margin" value="@(TempData["LastName"])" name="lastName" pattern="^[a-zA-ZæøåÆØÅ]+( [a-zA-ZæøåÆØÅ ]+)*$" type="text" id="name" required oninvalid="this.setCustomValidity('Indtast et efternavn')" oninput="setCustomValidity('')" />
                    </div>
                    <div class="formRow textNormal">
                        Adresse*
                        <input class="textboxWide2 textNormal margin" value="@(TempData["Address"])" name="street" pattern="^[a-zA-ZæøåÆØÅ]+( [a-zA-ZæøåÆØÅ0-9-., ]+)*$" type="text" id="name" required oninvalid="this.setCustomValidity('Indtast en gyldig adresse')" oninput="setCustomValidity('')" />
                    </div>
                    <div class="formRow textNormal">
                        Postnummer.*
                        <input class="textboxSmall3 textNormal marginRightWide2" value="@(TempData["ZipCode"])" name="zip" pattern="[0-9]{4}" type="tel" id="name" required oninvalid="this.setCustomValidity('Indtast et dansk postnummer')" oninput="setCustomValidity('')" />
                    </div>
                    <div class="formRow textNormal">
                        By.*
                        <input class="textboxMedium2 textNormal marginRightMedium2" value="@(TempData["City"])" name="city" pattern="[a-zA-ZæøåÆØÅ]{1,20}$" type="text" id="name" required oninvalid="this.setCustomValidity('Indtast en dansk by')" oninput="setCustomValidity('')" />
                    </div>

                    @if (Session["User"] != null) {
                        ViewBag.Enabled = "readonly";
                    }
                    <div class="formRow textNormal">
                        Email.*
                        <input autocomplete="off" class="textboxWide2 textNormal margin" value="@(TempData["Email"])" name="email" type="email" id="name" required @ViewBag.Enabled />
                    </div>
                    <div class="formRow textNormal">
                        Telefonnummer.*
                        <input class="textboxMedium2 textNormal marginRightMedium2" value="@(TempData["Phone"])" name="number" pattern="[0-9]{8}" type="tel" id="name" required oninvalid="this.setCustomValidity('Indtast et gyldigt telefonnummer')" oninput="setCustomValidity('')" />
                    </div>


                    <div class="formRow">

                        <input type="submit" value="Fortsæt" class="submitbutton" />
                        <input type="reset" value="Annuller" class="resetButton" />
                    </div>
                </form>
            </div>
        </fieldset>
    </main>

</body>
</html>
