@model Client.Domain.Product

@{
    ViewBag.Title = "ProductView";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var input = "<script> window.onload = alert('lkamsd'); </script > ";
}

<head>
    <title>Produkt</title>
    <link rel="stylesheet" href="/Content/Site.css" />
</head>

<body>
    @using (Html.BeginForm("AddProduct", "ProductView", FormMethod.Post, null)) {
        @Html.ValidationSummary(true)
        @Html.Hidden("url", this.Request.RawUrl)
        <div id="ProductViewDetails">
            <img img src="@Model.Images[0].ImageSource" width="500" height="450">
            <div id="ProductViewDetailsInfo">
                <h1 class="boldText">@Model.Name</h1>
                <h2 class="boldText">Pris @Model.Price DKK</h2>
                <h2 class="boldText"> Antal </h2>

                <input id="id" name="id" value="@Model.ID" hidden />
                <input id="quantity" name="quantity" type="number" required min="1" value="1" style="width:40px; text-align:center" ; />
                <button class="add-button" type="submit">Tilføj til kurv</button>

                @if (Model.Stock != 0) {
                    <h4 style="color: green">På lager</h4>
                }
                else {
                    <h4 style="color: red">Ikke på lager</h4>
                }


                <h2 class="boldText"> Beskrivelse </h2>
                <h3> @Model.Description</h3>
            </div>
        </div>
    }

    <div class="container">

        <div style="height:180px;">
            <h3>Skriv en anmeldelse af produktet</h3>
            @if (Session["user"] == null) {
                <textarea rows="1" cols="150" class="textAreaForm" id="noneUserTextReview" disabled>
                        Du skal være logget ind for at kunne skrive en anmeldelse
                    </textarea>
            }
            else {
                using (Html.BeginForm("CreateReview", "ProductView", FormMethod.Post, null)) {
                    @Html.ValidationSummary(true)
                    @Html.Hidden("url", this.Request.RawUrl)
                    <input id="productID" name="productID" value="@Model.ID" hidden />
                    <textarea rows="1" cols="150" id="reviewText" minlength="2" required maxlength="1000" name="reviewText" class="textAreaForm2"></textarea>
                    <button id="reviewButton" type="submit"> Indsæt anmeldelse</button>
                }
            }

        </div>
        @if (Model.Reviews.Count == 0) {
            <h3>Der er ingen anmeldelser på det pågældende produkt endnu.</h3>
        }
        else {
            <h3 style="margin-bottom:20px;">Hvad andre synes om produktet</h3>
            foreach (var item in Model.Reviews) {
                <div id="productReview" class="container">
                    <p style="font-weight:bold;">Skrevet af @item.User.FirstName den @item.DateCreated.ToString("dd-MM-yyyy")</p>
                    <p>@item.Text</p>

                    @if (Session["user"] != null) {
                        if (Session["user"].ToString() == item.User.ToString()) {

                            using (Html.BeginForm("DeleteReview", "ProductView", FormMethod.Post, null)) {
                                @Html.ValidationSummary(true)
                                @Html.Hidden("url", this.Request.RawUrl)
                                <input id="reviewID" name="reviewID" value="@item.ID" hidden />
                                <input id="reviewUserID" name="reviewUserID" value="@item.User.ID" hidden />
                                <button id="deleteReviewButton" type="submit">SLET</button>
                            }
                        }
                    }
                </div>
            }
        }


    </div>

    @if (TempData["Message"] != null) {
        <script type="text/javascript">
            window.onload = function () {
                alert('@TempData["Message"]');
            }
        </script>
    }

    @if (TempData["ReviewMessage"] != null) {
        <script type="text/javascript">
            window.onload = function () {
                alert('@TempData["ReviewMessage"]');
            }
        </script>
    }

    @if (TempData["DeleteReviewMessage"] != null) {
        <script type="text/javascript">
            window.onload = function () {
                alert('@TempData["DeleteReviewMessage"]');
            }
        </script>
    }



</body>
