@model Client.Domain.User

@{
    ViewBag.Title = Model.FirstName + "'s panel";
}

<div class="container">
    <h2>@Model.FirstName's brugerpanel</h2>
    <p>Nedenunder kan du se dine oplysninger og eventuelt opdatere dem</p>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">Oplysninger</div>
            <div class="panel-body">@Model.FirstName @Model.LastName</div>
            <div class="panel-body">@Model.Phone</div>
            <div class="panel-body">@Model.Email</div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Leveringsaddresse</div>
            <div class="panel-body">
                @Model.Address <br />
                @Model.ZipCode, @Model.City
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Tidligere ordre</div>
            @foreach (var order in Model.Orders) {
                <div class="panel-body">
                    >Ordre #: @order.ID
                    <br />
                    @foreach (var orderline in order.Orderlines) {

                        @("Orderline #: " + orderline.ID + " , " + "Produkt navn: " + orderline.Product.Name + " , " + "Antal: " + orderline.Quantity + " , " + "Sub-total: " + orderline.SubTotal + " DKK") <br />
                    }
                    Total Pris: @order.Total
                </div>
            }
        </div>

        <div class="btn-group" style="margin-top: 15px;">
            <input type="button" value="Opdater" onclick="location.href='@Url.Action("Edit", "UserProfile")'" class="btn btn-default" />
            @Html.ActionLink("Slet", "DeleteAccount", "UserProfile", new { @onclick = "return ConfirmDelete();" })
        </div>
    </div>
</div>