@model IEnumerable<Client.Domain.Product>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div style="margin-left: 90px">
        <categoryMenu>
            <categoryli><a href="@Url.Action("Index", "Home")">Mest populære</a></categoryli>
            <categoryli><a href="@Url.Action("GetSalesByTag", "Home" , new { name = "Danske ure" })">Danske ure</a></categoryli>
            <categoryli><a href="@Url.Action("GetSalesByTag", "Home" , new { name = "Sommer ure" })">Sommer ure</a></categoryli>
            <categoryli><a href="@Url.Action("GetSalesByTag", "Home" , new { name = "Designer ure" })">Designer ure</a></categoryli>
        </categoryMenu>
    </div>
</div>
<h1 class="myButton1">@Session["Tag"]</h1>
<div class="container">
    @foreach(var item in Model) {

        <div class="imageFloat">
            <p>
                <a href="@Url.Action("Index", "ProductView", new { id = item.ID })">
                    <img border="0" alt="W3Schools" src="@item.Images[0].ImageSource" width="250" height="250">
                </a>
            </p>
            <p>
                <b>@item.Name</b>
            </p>
            <p>
                <i>@item.Price DKK</i>
            </p>

            @if (item.Stock == 0) {
            <p style="color: red">
                Ikke på lager
            </p>
            }
        </div>
    }
</div>